@page "{id:int}"
@model DetailsModel

@{
    ViewData["Title"] = "Question Details";
}

<h1>@ViewData["Title"] - @Model.Question.Id</h1>
<div>
    <hr>

    <h3>@Model.Question.Title</h3>
    <h5>Publisher: <b><i>@Model.Publisher.UserName</i></b></h5>

    <hr>

    <p>@Model.Question.Body</p>
    
    <hr>

    <ul>
        @foreach (var contact in Model.Question.Answers)
        {
            <li>@contact.Body :@contact.Vote</li>
        }
    </ul>

</div>