@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Questions[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Questions[0].Body)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions[0].Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Id)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User).Equals(item.Publisher.Id))
                {
                    @: | 
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    @: |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
