@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <div class="inner_content">
        <h3>Search:</h3>
        <input id="searchbar_index" type="text"><button class="go_button">GO</button>
        <h3> Or </h3>
        <form method="post">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="button">
                    <a class="askbutton" asp-page="./Create">Ask a question yourself</a>
                </div>
            }
            @if (!SignInManager.IsSignedIn(User))
            {
                <div class="button">
                    <a class="askbutton" asp-page="Create" title="You have to be logged in to ask questions">Ask a question yourself</a>
                </div>
            }
        </form>
    </div>
    <div class="questions">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Questions[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Questions[0].Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Questions[0].Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Questions[0].State)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Questions)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        <a class="btn btn-default" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User).Equals(item.Publisher.Id))
                        {
                            @: |
                            <a class="btn btn-default" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            @: |
                            <a class="btn btn-default" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>