@page
@model IndexModel
@{
    ViewData["Title"] = "Statistics";
    ViewData["Questions"] = "Questions";
    ViewData["Answers"] = "Answers";
    ViewData["Points"] = "Points";
    ViewData["Rank"] = "Leaderboard Rank";
}

<h4>@ViewData["Title"]</h4>

<span class="badge badge-secondary">@ViewData["Questions"]</span>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Vote</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Questions)
                {
                    <tr>
                        <td><a asp-page="../../Details" asp-route-id="@item.Id">@item.Title</a></td>
                        <td>@item.Vote</td>
                        <td>@item.State.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<span class="badge badge-secondary">@ViewData["Answers"]</span>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Vote</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Answers)
                {
                    <tr>
                        <td><a asp-page="../../Details" asp-route-id="@item.Question.Id">@item.Question.Title</a></td>
                        <td>@item.Vote</td>
                        <td>@item.Body</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<span class="badge badge-secondary">@ViewData["Points"]</span>
<div class="row">
    <div class="col-md-6">
        <p>@Model.Points</p> 
    </div>
</div>

<span class="badge badge-secondary">@ViewData["Rank"]</span>
<div class="row">
    <div class="col-md-6">
        <p>No. @Model.Rank out of @Model.UsersCount users</p>
    </div>
</div>