@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Tags";
}

@if (Model.Parameter != null)
{
    <h1>Parameter:  @Model.Parameter</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Publisher</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.QuestionTags)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Publisher.UserName)
                    </td>
                    <td>
                        <a class="btn btn-default" asp-page="../Details" asp-route-id="@item.Question.Id">Details</a>
                        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User).Equals(item.Question.Publisher.Id))
                        {
                            @: |
                            <a class="btn btn-default" asp-page="../Edit" asp-route-id="@item.Question.Id">Edit</a>
                            @: |
                            <a class="btn btn-default" asp-page="../Delete" asp-route-id="@item.Question.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @foreach (var tag in Model.Tags)
    {
        <p><a asp-route-name="@tag.Name" class="btn btn-primary btn-block">@tag.Name</a></p>
    }
}